main {
    font-family: Tahoma, sans-serif;
}

.about {
    background-image: url("/images/greyredtrack.png");
    background-position: center 42%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}
.toph {
    text-align: center;
    padding-top: 30px;
    font-size: 60px;
    text-shadow: 1px 1px rgb(255, 255, 255);
}

.topp {
   text-align: center;
   font-size: 50px;
   text-shadow: 1px 1px rgb(255, 255, 255);
}

.cardphoto{
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 0 auto;
}

.card{
    text-align: center;
    box-shadow: 0 4px 8px 0 #b3b3b3f5;
    padding: 16px 16px 16px 16px;
    width: 300px;
    margin: 16px;
}

.para{
    width: 40%;
    height: 300px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 #b3b3b3f5;
    text-align: center;
}

/* main {
    font-family:'Franklin Gothic Medium';
    text-align: center;
}
p {
    color: red;

}

.about {
    background-color: blue;
    padding: 8px;
}

img {
    height: 120px;
    width: 120px;
}

.column {
    margin-right: 16px;
    margin: 10px;
    width: 22%;
    float: center;
}
/*
.card {
    box-shadow: 0 4px 8px 0 #b3b3b3f5;
    padding: 0 16px 0 16px;
}

.aboutme {
    float: left;
    color: blueviolet;
}
*/